*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(34,34,34)
}
.container {
  height: 100vh;
  width: 100%;
  border: 2px solid rgb(34,34,34);
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto {
  flex-direction: column;
  animation: flutuar 1.5s infinite ease-in-out;
}
img{
    width: 400px;
}
@keyframes flutuar{
    50% {
        transform: translateY(-10%);
    }
}